@import './variables.css';
@import './animations.css';
@import './login.css';
@import './sidebar.css';
@import './reports.css';
@import './dashboard.css';
@import './inventory.css';
@import './register-asset.css';
@import './users.css';
@import './maintenance.css';
@import "./topbar-institucional.css";
@import './assets-list.css';
@import './asset-movements.css';
@import './responsive.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-bg);
}

button,
input {
  font-family: inherit;
}

html,
body {
  overflow-y: auto !important;
}@import './responsive.css';
